{% extends 'base.html.twig' %}

{% block title %}Sponsor{% endblock %}

{% block body %}
    <h1>Sponsor</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sponsor.id }}</td>
            </tr>
            <tr>
                <th>Nom_sp</th>
                <td>{{ sponsor.nomSp }}</td>
            </tr>
            <tr>
                <th>Num_sp</th>
                <td>{{ sponsor.numSp }}</td>
            </tr>
            <tr>
                <th>Email_sp</th>
                <td>{{ sponsor.emailSp }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sponsor_index') }}">back to list</a>

    <a href="{{ path('sponsor_edit', {'id': sponsor.id}) }}">edit</a>

    {{ include('sponsor/_delete_form.html.twig') }}
{% endblock %}
